#social-media.vertical-center.is-border-top
    i.fab.fa-facebook-f.social-icon
    i.fab.fa-instagram.social-icon
    i.fab.fa-linkedin.social-icon
    i.fab.fa-youtube.social-icon
    i.fab.fa-pinterest.social-icon
// ----- footer -----
#footer
    #about-us.footer-item.is-border-bottom About Us
    #privacy-policy.footer-item.is-border-bottom Privacy Policy
    #terms.footer-item.is-border-bottom Terms Of Use
    #legal-notice.footer-item.is-border-bottom Legal Notice
    #customer-service.footer-item.is-border-bottom Customer Service
    #upcoming-projs.footer-item.is-border-bottom Upcoming Projects
    
    
#created-by
    .my-name Created by Barack Ashery
    .rights All rights reserved
    .copyright &#16 2019
// ----- whatsapp floating icon ------
.whatsapp-float.center
    i.fab.fa-whatsapp.my-float
