#header.nav-down
    #menu(onclick='showMenu()')
        i.fas.fa-bars
    #logo
        span#ku Ku
        span#me me
        span#no no
        span#ga ga
    #login
        i.fas.fa-user
