#side-nav.is-bg-color.is-shadow
  .top
    div(onclick='hideMenu()')
      i.fas.fa-window-close
    span &#128540
  p.side-nav-category
    a(href='category/Cellphones & smartphones') Cellphones &amp; smartphones
    span.arrow &#8250
  p.side-nav-category
    a(href='category/Laptop & Notebooks') Laptop &amp; Notebooks
    span.arrow &#8250
  p.side-nav-category
    a(href='category/Desktop & Components') Desktop &amp; Components
    span.arrow &#8250
  p.side-nav-category
    a(href='category/Networking & Servers') Networking &amp; Servers
    span.arrow &#8250
  p.side-nav-category
    a(href='category/Cameras & Videos') Cameras &amp; Videos
    span.arrow &#8250
  p.side-nav-category
    a(href='category/Camera Drones & Components') Camera Drones &amp; Components
    span.arrow &#8250
  p.side-nav-category
    a(href='category/Printers & Scanners') Printers & Scanners
    span.arrow &#8250
  p.side-nav-category
    a(href='category/Routers') Routers
    span.arrow &#8250
  p.side-nav-category
    a(href="category/Tv's & components") Tv&apos;s &amp; components
    span.arrow &#8250
  p.side-nav-category
    a(href='category/Portable audio & Headphones') Portable audio &amp; Headphones
    span.arrow &rsaquo;
