#home-banner-container
  .banner.home-banner
    h3 Get a new or used electronic gadget of your choice
    p.banner-info-text
      | Get anyhting from smartphone, cameras, laptops and more at cheaper price than ever.
    p.action-button
      span(style='margin-right: 5px;') Get now
      span &rarr;
