#home-category-container
  h3 Popular categories
  .category-row
    .category
      .image
        img(src='../smartphones.webp' title='smartphone')
      p Smartphones
    .category
      .image
        img(src='../laptop.webp' title='Laptop')
      p Laptops
    .category
      .image
        img(src='../games.webp' title='games')
      p Videos games &amp; Consoles
  .category-row
    .category
      .image
        img(src='../camera.webp' title='camera')
      p Cameras
    .category
      .image
        img(src='../drone.webp' title='drone')
      p Drones
    .category
      .image
        img(src='../tv.webp' title='Tvs')
      p LED &amp; LCD Tv&apos;s
  .category-row
    .category
      .image
        img(src='../desktop.jpg' title='camera')
      p Desktop
    .category
      .image
        img(src='../printer.png' title='drone')
      p Printers
    .category
      .image
        img(src='../router.jpg' title='Tvs')
      p Routers
