#side-nav.is-bg-color.is-shadow
    .top
        div(onclick='hideMenu()')
            i.fas.fa-window-close
        span 😜
    p.side-nav-category
        a(href='Cellphones & smartphones') Cellphones & smartphones
        span.arrow ›
    p.side-nav-category
        a(href='Laptop & Notebooks') Laptop & Notebooks
        span.arrow ›
    p.side-nav-category
        a(href='Desktop & Components') Desktop & Components
        span.arrow ›
    p.side-nav-category
        a(href='Networking & Servers') Networking & Servers
        span.arrow ›
    p.side-nav-category
        a(href='Cameras & Videos') Cameras & Videos
        span.arrow ›
    p.side-nav-category
        a(href='Camera Drones & Components') Camera Drones & Components
        span.arrow ›
    p.side-nav-category
        a(href='Printers & Scanners') Printers & Scanners
        span.arrow ›
    p.side-nav-category
        a(href='Routers') Routers
        span.arrow ›
    p.side-nav-category
        a(href="Tv's & components") Tv's & components
        span.arrow ›
    p.side-nav-category
        a(href='Portable audio & Headphones') Portable audio & Headphones
        span.arrow ›
