doctype html
html(lang="en")
head
    meta(charset='utf-8')
    meta(name='Description' content='About team page')
    meta(name='author' content='Kumenogatz.com')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Meet the team
    link(href='../../../style.css' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='../../../team.css')
    link(rel='stylesheet' type='text/css' href='../../../all.min.css')
    link(rel='shortcut icon' href='../../../favicon.ico' type='image/x-icon' sizes='16x16')
    link(rel='apple-touch-icon-precomposed' href='../../../apple-touch-icon-152x152-precomposed.png' type='image/png' sizes='152x152')
    link(rel='apple-touch-icon-precomposed' href='../../../apple-touch-icon-152x152-precomposed.png' type='image/png' sizes='120x120')
    link(href='https://fonts.googleapis.com/css?family=Lato:900&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Righteous&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Caveat:700&display=swap' rel='stylesheet')
    // ------------------ scripts ---------------------
    // <script src="https://kit.fontawesome.com/75de682bb9.js"></script>
    script(type='text/javascript' src='../../../all.min.js')
    script(src='../../../jquery-3.4.1.min.js')

    body

        include header
        include team_category
        include team_info
        include footer

        script(src='../../../header.js')
        script(src='../../../sidenav.js')

