#side-nav.is-bg-color.is-shadow
    .top
        div(onclick='hideMenu()')
            i.fas.fa-window-close
        span 😜
    p.side-nav-category
        a(href='category/Cellphones & smartphones') Cellphones & smartphones
        span.arrow ›
    p.side-nav-category
        a(href='category/Laptop & Notebooks') Laptop & Notebooks
        span.arrow ›
    p.side-nav-category
        a(href='category/Desktop & Components') Desktop & Components
        span.arrow ›
    p.side-nav-category
        a(href='category/Networking & Servers') Networking & Servers
        span.arrow ›
    p.side-nav-category
        a(href='category/Cameras & Videos') Cameras & Videos
        span.arrow ›
    p.side-nav-category
        a(href='category/Camera Drones & Components') Camera Drones & Components
        span.arrow ›
    p.side-nav-category
        a(href='category/Printers, Scanners & componets') Printers, Scanners & componets
        span.arrow ›
    p.side-nav-category
        a(href='category/Routers') Routers
        span.arrow ›
    p.side-nav-category
        a(href="category/Tv's & components") Tv's & components
        span.arrow ›
    p.side-nav-category
        a(href='category/Portable audio & Headphones') Portable audio & Headphones
        span.arrow ›
