.team-container
    .image-container
        img(src='../../../baraka_image.jpg')
    .team-detail
        h2 BARAKA ASHERY
        p
            | Hello!!, My name is Baraka Ashery. I&apos;m a programmer and co-founder of kumenogatz.
            | Feel free to talk to me. I always online to help you.
        .contacts
            .phone
                i.fa.fa-phone
                p +25562 281 2320
            .email
                i.fa.fa-envelope
                p brkmagdalena@gmail.com
.team-container
    .image-container
        img(src='../../../perfect_image.jpg')
    .team-detail
        h2 PERFECT LUSSA
        p
            | Hello!!, My name is Perfect Lussa. I&apos;m a Graphic Designer and co-founder of kumenogatz.
            | Feel free to talk to me. I always online to help you.
        .contacts
            .phone
            i.fa.fa-phone
            p +25562 084 2208
        .email
            i.fa.fa-envelope
            p perfectlussa2@gmail.com
