#home-category-container
    h3 Popular categories
    .category-row
        .category
            .image
                img(src='./category_images/smartphones.webp', title='smartphone')
            p Smartphones
        .category
            .image
                img(src='./category_images/laptop.webp', title='Laptop')
            p Laptops
        .category
            .image
                img(src='./category_images/games.webp', title='games')
            p Videos games & Consoles
    .category-row
        .category
            .image
                img(src='./category_images/camera.webp', title='camera')
            p Cameras
        .category
            .image
                img(src='./category_images/drone.webp', title='drone')
            p Drones
        .category
            .image
                img(src='./category_images/tv.webp', title='Tvs')
            p LED & LCD Tv's
    .category-row
        .category
            .image
                img(src='./category_images/desktop.jpg', title='camera')
            p Desktop
        .category
            .image
                img(src='./category_images/printer.png', title='drone')
            p Printers
        .category
            .image
                img(src='./category_images/router.jpg', title='Tvs')
            p Routers
