.banner.home-postadd-banner
    h3 Do you have a product to sell?
    p.banner-info-text Advertise your product to thousands of customers for free and easly
    p.action-button
        span(style='margin-right: 5px;')
            a(href='uploadform.html') Post your Add now
        span →
