doctype html
    meta(charset='utf-8')
    title kumenogatz
    meta(name='author', content='Baraka Ashery')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // --------------- styles ----------------------
    link(href='style.css', rel='stylesheet', type='text/css')
    link(href='product_list.css', rel='stylesheet', type='text/css')
    link(href='home_page.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='./favicon/favicon.ico', type='image/x-icon', sizes='16x16')
    link(rel='apple-touch-icon-precomposed', href='./favicon/apple-touch-icon-152x152-precomposed.png', type='image/png', sizes='152x152')
    link(rel='apple-touch-icon-precomposed', href='./favicon/apple-touch-icon-152x152-precomposed.png', type='image/png', sizes='120x120')
    link(href='https://fonts.googleapis.com/css?family=Lato:900&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Righteous&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Caveat:700&display=swap', rel='stylesheet')
    // ------------------ scripts ---------------------
    script(src='https://kit.fontawesome.com/75de682bb9.js')
    script(src='jquery-3.4.1.min.js')
