.how-to-buy-container.is-shadow
    p.how-to-head.is-shadow How to buy?
    .buy-tip.buy-tip-first
        p.step Step 1
        span
            i.fa.fa-list
        p.info Choose a product you wan't to buy
    .buy-tip
        p.step Step 2
        span
            i.fa.fa-phone
        p.info Contact a seller.
    .buy-tip
        p.step Step 3
        span
            i.fa.fa-handshake
        p.info Meet with seller in person, in the public/open place.
    .buy-tip.buy-tip-last
        p.step Step 4
        span
            i.fa.fa-thumbs-up
        p.info Test a product, make sure it works, pay.
.how-to-buy-container.safety-tips.is-shadow
    p.how-to-head Personal Safety
    ul
        li
            | Do not send money to someone you haven't met in person.
        li
            | When meeting someone for first time, please remember to meet on public and open places like cafe, bank, shopping center, etc.
        li
            | Do not meet with a seller/ buyer in a secluded / hidden place, do not invite strangers at home.
        li
            | Consider having a friend accompany you when meeting with buyer or seller.
        li
            | Never give out financial info (Bank account, social security, etc.) to anyone when buying online.
