#product-list-container
    // ------ product ------
    .product-container.is-shadow.is-round
        .image-container(style='position: relative;')
            a(href='product_detail.html')
                img.product-image(src='')
            .premium-tag
                span Premium
        .detail-container.is-white
            .item-name.is-border-bottom.center
                span Samsung galaxy s10
            .item-price.center
                span(style='padding: 0 4px') 1,200,000 Tshs.
