#sidebar
    h3#sidebar-header Shop by category
    p.sidebar-category Cellphones & smartphones
    p.sidebar-category Laptop & Notebooks
    p.sidebar-category Desktop & Components
    p.sidebar-category Networking & Servers
    p.sidebar-category Cameras & Videos
    p.sidebar-category Camera Drones & Components
    p.sidebar-category Printers, Scanners & componets
    p.sidebar-category Routers
    p.sidebar-category Tv's & componets
    p.sidebar-category Portable audio & Headphones
